<% if (!user) user = {
  id:"no", 
	nombre:"nohaynohaynes", 
	logo:"daodog.jpg", 
	imgback:"daodog.jpg",
	presentacion: "estoesunforofor",
  items:[],
  comments:[
    {"nombreComentador":"alguien",
    "comentario":"me encanta la radio"}
    ]
}
if (!editable) editable = false;
%>

<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <header>
      <%- include("partials/header") %>
    </header>
    
    <main id="container"> 
      <% if (editable) {%>
        <h3>Nuevo post</h3>
        <form method="POST" enctype="multipart/form-data" action="/crearposteo">
          <label for="urlfoto">Imagen a subir:</label>
          <input type="file" id="urlfoto" name="urlfoto">
          <br>
          <input type="textarea" name="testo" cols="40" rows="3" placeholder="descripcion del post" required>
          <br>
          <input type="submit">
          
          
        </form>
      <% } %>
        
      <%- include("partials/mozaicos") %>
      <%- include("partials/comments")  %>
    </main>
    

  </body>
</html>