<% if (!user) user = {
  id:"no", 
	nombre:"nohaynohaynes", 
	logo:"daodog.jpg", 
	imgback:"daodog.jpg",
	presentacion: "estoesunforofor",
  items:[],
  comments:[
    {"nombreComentador":"alguien",
    "comentario":"me encanta la radio"}
    ]
}

%>

<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <header>
      <%- include("partials/header") %>
    </header>
    
    <main id="container"> 
      <%- include("partials/mozaicos") %>
      <%- include("partials/comments")  %>
    </main>
    <% console.log(1) %>
    <script>
      console.log(2)
    </script>

  </body>
</html>