  
<div id="backimg"> <img src=<%= "imgs/" + user.imgback %>  /> </div>

                     
<h1 id="nombre" > <%= user.nombre  %> </h1>
  
<div id="portadaimg"><img src=<%= "imgs/" + user.logo  %>  /></div>
  
<div id="portadatxt"> <%= user.presentacion %> </div>
