<h2>entoncesaleestoÇ?</h2>
<!--
  <h1>Hola que tal</h1>
<% var pepe = 6+6; %>
<% for (let i=0; i<5; i++) { %>
  <%= pepe = pepe + pepe %> <br>
<% } %> 
-->
<h3>y despues esto?</h3>
<%-  include("partials/header") %>